body{
	background-color: white!important
}

/*For navbar*/
.navbar{
  height: 135px;
  padding-top: 5px;
}
.navbar.navbar, .navbar-default.navbar{
  background-color: #eee;
  color: #303030;
}
.navbar-header .navbar-brand{
  font-size: 2em;
}
body{
  padding-top: 150px;
}
.brand-image{
  width: 25%;
  display: inline-block!important;
}
.brand-header{
  float: left;
  width: 300px;
}
.navbar-nav{
  padding-top: 10px;
}
.dropdown-menu{
  background-color: #eee;
}
/*For screen size of tablets or ipads*/
@media(max-width: 1200px){
  .navbar{
    height: 120px;
  }
  body {
    padding-top: 130px;
  }
}
/*For screen size of smart phones*/
@media(max-width: 767px){
  .navbar{
    height: 80px;
  }
  body {
    padding-top: 100px;
  }
}

/*For search input on navbar*/
.navbar .form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    black!important;
}
.navbar .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:   black!important;
}
.navbar .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:   black!important;
}
.navbar .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:   black!important;
}
.navbar .form-control{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}
#custom-search-input input{
    border: 0;
    box-shadow: none;
}
#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}
#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}
#custom-search-input .glyphicon-search{
    font-size: 15px;
}
.navbar .navbar-collapse, .navbar .navbar-form{
  background-color: #eee;
}

/*For navbar links' effect*/
.hvr-shutter-out-horizontal {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  background:inherit;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#cfcfcf;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  /*color: #53179e!important;*/
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*For products showing in index.php*/
.panel-thumbnail{
	padding: 0;
}
.product-image{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.product-details{
	padding: 0 20px 10px 20px;
}
.product-details h4 a{
		color: black;
}
.product{
	margin: 20px 10px 10px 10px;
}

.brands img{
/*	width:130px;
	height: 50px;*/
	padding: 10px 10px 10px 10px;
}
.brands{
	text-align: center;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
}
.product-img {
    text-align: center;
    padding: 15px;
}

/*For product info showing on info.php*/
.product-info-panel{
	padding: 20px;
}
.product-info-panel>h4{
	padding: 10px 10px 20px 10px;
    font-weight: bold;
}
.product-info-panel .description{
	padding: 20px;
}
.product-info-panel img{
  text-align:center;
  max-width:100%;
}
/*For screen size of desktop , laptop and tablets */
@media(min-width: 992px){
	.brands .col-md-4:nth-child(2){
	   border-right: 1px solid #e5e5e5;
	   border-left: 1px solid #e5e5e5;
  }
}
/*For screen size of smartphones*/
@media (max-width: 992px){
  .brands{
  	border-top: 1px solid #e5e5e5;
  }
  .product-details{
  	text-align: center;
  }
}
/*"Buy now >" button effect on info.php*/
.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-forward:before {
  content: "\f054";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover:before, .hvr-icon-forward:focus:before, .hvr-icon-forward:active:before {
  -webkit-transform: translateX(6px);
  transform: translateX(6px);
}



/*For Loader*/
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #0dc5c1;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}